<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="card__container">
    <img
        src="https://imgs.search.brave.com/p-NhAICzwePrxiQ7MQIq9y_qBFe_ghFi6hSCb6cGqhM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG40/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvb25lLXBpZWNl/LXR3b3RvbmUvNDgv/Q2FydG9vbnNfX0Fu/aW1lX09uZV9QaWVj/ZV9BcnRib2FyZF8y/Mi01MTIucG5n">
    <div class="card-content">
        <div class="card-title">
            <h1 class="title">João Henrique O. Rodrigues</h1>
            <p class="sub-title">Java Developer</p>
        </div>
        <div class="card-body">
            <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi eveniet eum repudiandae deleniti
                sequi fugit non amet porro blanditiis, tempora, fuga quisquam? Et earum ea quisquam dolor minus, quidem
                voluptas?
            </p>
            <div class="card-button-container">
                <button class="card-button">Baixar Currículo
                    <span class="material-symbols-outlined">
                        download
                    </span>
                </button>
            </div>
        </div>
    </div>

</div>