@import '../../../styles.scss';

.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.5rem;
}

.menu__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.menu__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dark-mode-toggle {
    display: flex;
    justify-content: end;
}

.dark-mode-toggle button {
    background-color: $primary_white_color;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}

.sobreActived {
    font-size: 24px;
    color: $primary_black_color;
    border-bottom: 1px solid;
}

.sobreDisabled {
    color: $light_gray_color;
}

.postsActived {
    font-size: 24px;
    color: $primary_black_color;
    border-bottom: 1px solid;
}

.postsDisabled {
    color: $light_gray_color;
}

a {
    color: $light_gray_color
}

a:hover {
    color: $primary_black_color;
    transition: color 0.3s ease;
    
}