<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,200" />

<nav class="navbar">
    <div class="dark-mode-toggle">
        <button>
            <span class="material-symbols-outlined">
                dark_mode
            </span>
        </button>
    </div>
    <div class="nav__container">
        <h1 class="title">Jhor<br />.dev</h1>
    </div>
    <div class="menu__container">
        <a href='/' class="{{ isPostsActived() }}">Posts</a>
        <a href="sobre" class="{{ isSobreActived() }}">Sobre</a>
        <a href="https://github.com/JoaoHr1" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/joao-hr-rodrigues/" target="_blank">Linkedin</a>
    </div>
</nav>